<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517258432354-cg3ntoo446u0eiqfev47t2miu4deb0bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517258432354-cg3ntoo446u0eiqfev47t2miu4deb0bf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517258432354-f4b6jk2456jsqlip1s5g2ef01bf5fndn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCveJUYY_2YlF61cSN9jNnFt_yNmjMquyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>517258432354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.RSSHOPDev</string>
	<key>PROJECT_ID</key>
	<string>rs-shop-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>rs-shop-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517258432354:ios:bc2468de5c62d112c7a63b</string>
	<key>DATABASE_URL</key>
	<string>https://rs-shop-auth.firebaseio.com</string>
</dict>
</plist>